# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
ask_sdk_*
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm data
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

bin/

certifi/

certifi-2018\.8\.24\.dist-info/

chardet/

chardet-3\.0\.4\.dist-info/

DateTime/

DateTime-4\.3\.dist-info/

dateutil/

googlemaps/

idna/

idna-2\.7\.dist-info/

pkg_resources/

python_dateutil-2\.7\.3\.dist-info/

pytz/

pytz-2018\.5\.dist-info/

requests/

requests-2\.19\.1\.dist-info/

setuptools/

setuptools-40\.4\.3\.dist-info/

six-1\.11\.0\.dist-info/

urllib3/

urllib3-1\.23\.dist-info/

zope/

\.DS_Store

Archive\.zip

easy_install\.py

FullSizeRender\.jpg

six\.py

tags

zope\.interface-4\.5\.0-py3\.7-nspkg\.pth
